* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --secondary-color: #171100;
    --heading-font: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ====== Common ====== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 21px;
    border-radius: 999px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn.btn-primary {
    background-color: var(--primary-color);
}

.dot-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
    cursor: pointer;
}

.dot.dot-primary {
    background-color: var(--primary-color);
    cursor: default;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.heading {
    color: #171100;
    font-family: var(--heading-font);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.desc {
    color: #5f5b53;
    font-family: Poppins;
    font-weight: 400;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    padding: 36px 0 8px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    display: flex;
    margin-left: auto;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav li.active a,
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    width: 21px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}

/* ===== Hero ===== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.media-block {
    position: relative;
    width: 48%;
}

.media-block .image {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.hero-summary .item:first-child {
    margin-top: 0;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero-summary .item:nth-child(1) .icon {
    background-color: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding-top: 64px;
    padding-left: 130px;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 28px;
    border: none;
    background-color: transparent;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .stats {
    margin-left: -28px;
    margin-top: 8px;
}

.hero .stats strong {
    margin-left: 28px;
    margin-right: 14px;
    color: #171100;
    font-family: var(--heading-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

/* Popular */
.popular {
    padding: 200px 0;
    background-color: #fff;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-header .desc {
    width: 458px;
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.66;
}

.popular-header .btn-group {
    display: flex;
    gap: 18px;
}

.popular-header .arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    background-color: #fff;
}

.popular-header .arrow-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .courses {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e2dfda;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-item .img {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
}

.course-item .content {
    padding: 16px 22px 22px;
}

.course-item .head,
.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .rate {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-item .value {
    color: #fea31b;
    font-size: 1.6rem;
}

.course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-item .foot {
    margin-top: 12px;
}

.course-item .price {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.course-item .popular-cta {
    min-width: 118px;
    font-size: 1.4rem;
    font-weight: 600;
}

.course-item .popular-cta:hover {
    background-color: var(--primary-color);
}

/* Testimonial */
.testimonial {
    background: #2e2100;
    padding: 96px 0;
}

.testimonial-list {
    display: flex;
    overflow: hidden;
}

.testimonial-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.testimonial-content {
    width: 66%;
    margin-left: auto;
}

.testimonial-info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--heading-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.testimonial-info .career {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.testimonial .dot-group {
    margin-top: 28px;
}

.testimonial .dot-group img {
    cursor: pointer;
}

.testimonial-content blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    margin-left: 30px;
}

/* Features */
.features {
    margin: 135px 0;
    padding: 65px 0;
    background-color: #ffffff;
}

.features .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.features .row:first-child {
    margin-top: 0;
}

.feature-images {
    display: flex;
    gap: 0 30px;
}

.feature-images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

.feature-images img:first-child {
    margin-top: 34px;
}

.feature-images img:only-child {
    width: 470px;
    height: 440px;
    margin-top: 0;
}

.feature-content {
    width: 41%;
}

.feature-content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.feature-cta {
    margin-top: 32px;
    min-width: 137px;
}

.features .row:nth-child(2) {
    flex-direction: row-reverse;
}

.features .row:nth-child(2) .feature-content {
    width: 49%;
}



/* Blogs */
.blogs {
    padding: 96px 0;
    background: #fffcf4;
}

.blogs .heading {
    color: #130606;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.blogs .desc {
    min-width: 448px;
    max-width: 38%;
    margin: 16px auto 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog-list .item {
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-list .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog-list .content {
    padding: 20px 30px 28px;
}

.blog-list .date::before {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.blog-list .date {
    position: relative;
    margin-left: 10px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blog-list .spacing {
    margin: 12px 0;
    width: 48%;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-list .title {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog-list .blog-cta {
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.blog-list .blog-cta:hover {
    background-color: var(--primary-color);
}

.blogs .dot-group {
    margin-top: 38px;
    justify-content: center;
}

/* Footer */
.footer {
    background-color: #2e2100;
    padding-top: 96px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.footer .column:last-child {
    width: 231px;
}

.footer .column:first-child {
    width: 267px;
}

.footer .desc {
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer .social-media {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 18px;
}

.footer .heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .spacing {
    width: 130px;
    height: 1px;
    margin-top: 14px;
    margin-bottom: 28px;
    background: #59554b;
}

.footer .item {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    white-space: nowrap;
    cursor: pointer;
}

.footer .contact strong {
    color: #fff;
    font-weight: 600;
}

.footer .contact {
    white-space: normal;
    cursor: unset;
}

.footer .long-spacing {
    height: 1px;
    margin-top: 38px;
    margin-bottom: 0;
    background: #59554b;
}

.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
